body{
  color: rgb(51, 40, 25);
  text-shadow: 10px 10px 10px #241515;
  margin: 20%;
  font-size: 30px;
}
table{
  border-collapse: collapse;
  width: 100%;
  margin: 0 auto;
}
td{
  border: 5px solid black;
  padding: 10px;
  background-color: coral;
  color: rgb(0, 0, 0);
}
